<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.liko.event.dao.java.EventfielddefMapper">
  <resultMap id="BaseResultMap" type="org.liko.event.model.Eventfielddef">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="eventId" jdbcType="INTEGER" property="eventid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="required" jdbcType="INTEGER" property="required" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="elementId" jdbcType="INTEGER" property="elementid" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
  </resultMap>

  <!--<delete id="deleteByIds" parameterType="java.util.Set">
    DELETE
    FROM EVENTFIELDDEF EFD
    WHERE EFD.ID
    IN
    <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>-->
</mapper>