<!--
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>

    &lt;!&ndash; 输出日志到文件 &ndash;&gt;
    <appender name="FileAppender" class="org.apache.log4j.FileAppender">
        <param name="File" value="c:/logs/file.log"></param>
        <param name="Append" value="true"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %p %C [%t] %m%n"></param>
        </layout>
    </appender>

    <appender name="ASYNC-INFO" class="org.apache.log4j.AsyncAppender">
        <param name="BufferSize" value="512"/>
        <param name="locationInfo" value="true"/>
        <appender-ref ref="FileAppender"/>
    </appender>

    &lt;!&ndash; 根logger的设置&ndash;&gt;
    <root>
        <level value ="INFO"/>
        &lt;!&ndash;<appender-ref ref="FileAppender"/>&ndash;&gt;
        <appender-ref ref="ASYNC-INFO"/>
    </root>

</log4j:configuration>-->
