<configuration scan="true" scanPeriod="10 seconds" debug="false">

    <property name="LOG_DIR" value="logs/" />

    <appender name="FILE_DAY" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/quantex-t2compliance.%d{yyyy-MM-dd}.log
            </fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%-5level] [%d{HH:mm:ss}] [%-30thread] %logger.%method >> %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="async_log" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>2621440</queueSize>
        <appender-ref ref="FILE_DAY"/>
    </appender>

    <logger name="org.liko" level="info" additivity="false">
        <appender-ref ref="FILE_DAY" />
    </logger>

    <root level="ERROR">
    </root>

</configuration>
